{% extends "base.html" %}

{% block title %}Вход для клиентов{% endblock %}

{% block content %}
<h2>🔐 Вход</h2>
<form method="post">
    <label>Логин:</label>
    <input type="text" name="username" required><br><br>

    <label>Пароль:</label>
    <input type="password" name="password" required><br><br>

    <button type="submit">Войти</button>
</form>

<p><a href="{{ url_for('register') }}">Зарегистрироваться</a> | <a href="{{ url_for('index') }}">На главную</a></p>
{% endblock %}